* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  font-family: "Lexend", sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus, a:active {
  outline: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  font-family: "Lexend", sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus, a:active {
  outline: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #888b97;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
  transition: all 0.4s ease-in-out;
}
a:hover {
  color: rgb(60, 69, 99);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
  height: 100vh;
}

.main-cover {
  width: 100%;
  height: 100%;
}

.main-bg {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  min-height: 480px;
  width: 100%;
  max-width: 600px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 100%;
    width: 768px;
  }
}

.form-container form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.form-container form span {
  margin-bottom: 10px;
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
.social-container a:hover {
  border: 1px solid rgb(60, 69, 99);
}

.form-container input {
  background: #fefefe;
  border: 1px solid #888b97;
  border-radius: 12px;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
.form-container input:hover {
  border: 1px solid rgb(60, 69, 99);
}

button {
  border-radius: 20px;
  border: 1px solid rgb(16, 185, 129);
  background: rgb(16, 185, 129);
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background: transparent;
  border-color: #fff;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 100%;
  z-index: 2;
}
@media (min-width: 1200px) {
  .sign-in-container {
    width: 50%;
  }
}

.sign-up-container {
  left: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
}
@media (min-width: 1200px) {
  .sign-up-container {
    width: 50%;
  }
}

.overlay-container {
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
@media (min-width: 1200px) {
  .overlay-container {
    overflow: hidden;
    position: absolute;
    width: 50%;
    left: 50%;
  }
}

.overlay {
  background: rgb(245, 158, 11);
  background: linear-gradient(to top, rgb(209, 250, 229), rgb(16, 185, 129)) no-repeat 0 0/cover;
  color: #fff;
  height: 100%;
  left: 0;
  width: auto;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}
@media (min-width: 1200px) {
  .overlay {
    left: -100%;
    width: 200%;
    position: relative;
  }
}

.overlay-panel {
  position: relative !important;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  text-align: center;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
  width: 100%;
  display: none !important;
}
@media (min-width: 1200px) {
  .overlay-panel {
    display: flex !important;
    position: absolute !important;
    width: 50% !important;
  }
}

.overlay-right {
  right: 0;
  transform: translateY(0);
}

@media (min-width: 1200px) {
  .overlay-left {
    transform: translateY(-20%);
  }
}

/* Move signin to right */
@media (min-width: 1200px) {
  .container.right-panel-active .sign-in-container {
    transform: translateY(100%);
  }
}

/* Move overlay to left */
@media (min-width: 1200px) {
  .container.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }
}

/* Bring signup over signin */
.container.right-panel-active .sign-up-container {
  opacity: 1;
  z-index: 5;
}
@media (min-width: 1200px) {
  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
  }
}

/* Move overlay back to right */
@media (min-width: 1200px) {
  .container.right-panel-active .overlay {
    transform: translateX(50%);
  }
}

/* Bring back the text to center */
.container.right-panel-active .overlay-left {
  transform: translateY(0);
}

/* Same effect for right */
.container.right-panel-active .overlay-right {
  transform: translateY(20%);
}

.icons {
  display: flex;
  width: 30px;
  height: 30px;
  letter-spacing: 15px;
  align-items: center;
}